{% extends 'base.html' %}
{% block title %}ngo's in suarat{% endblock %}
{% block content %}


  <div class="main">
    <div class="span" id="span">
      <span style="font-size:32px;cursor:pointer" onclick="openNav()">&#9776;</span>
    </div>

    <div style="text-align-last: center;">
      <h1>Our Mission</h1>
      <h2 style="color: #003333; padding:20px;">Make the World Hunger Free</h2>
      <h2 style="color: #fff; padding:20px;">Connect Donors to Ngos</h2>
    </div>
    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </iframe>

  </div>


{% endblock %}