{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}


  <div class="main">
    <div class="span" id="span">
      <span style="font-size:32px;cursor:pointer" onclick="openNav()">&#9776;</span>
    </div>

    <div class="main-one">
      <h2>DO you know ?</h2>
      <h3>19 crore people in India sleep hungry every day. Such is the sad state of affairs.</h3>
      <br/>
      <form action="/ngo">
        <button style="color: #fff; background-color: #4CAF50; padding: 10px; cursor: pointer;">Help Them</button>
      </form>
    </div>
  </div>


{% endblock %}