{% extends 'base.html' %}
{% block title %}ngo's in suarat{% endblock %}
{% block content %}


  <div class="main">
    <div class="span" id="span">
      <span style="font-size:32px;cursor:pointer" onclick="openNav()">&#9776;</span>
    </div>

    <div style="text-align-last: center;">
      <form action="/">
        <h1>my question is first ?</h1>
        <input type="radio" name="q" id="a" value="option a">
        <label for="a">option a</label><br>
        <input type="radio" name="q" id="b" value="option b">
        <label for="b">option b</label><br>
        <input type="radio" name="q" id="c" value="option c">
        <label for="c">option c</label><br>
        <input type="radio" name="q" id="d" value="option d">
        <label for="d">option d</label><br>
        <input style="margin: 20px; background-color: red; cursor: pointer;" type="submit" name="submit">
      </form>
    </div>
  </div>

  <script type="text/javascript">
    function time() {
      document.getElementById( )
    }
  </script>

{% endblock %}