{% extends 'base.html' %}
{% block title %}ngo's in suarat{% endblock %}
{% block content %}


  <div class="main">
    <div class="span" id="span">
      <span style="font-size:32px;cursor:pointer" onclick="openNav()">&#9776;</span>
    </div>
    {% for topic in topic %}
    <div class="main-two">
      <h1>{{ topic.tagline }}</h1>
      <p style="color: #ffff;"> {{ topic.text }}</p>
      <a href="https://{{ topic.url }}" style="color: #0000ff; text-decoration: none;">{{ topic.url }}</a>
      <hr/>
    </div>
    {% endfor %}
  </div>


{% endblock %}