{% extends 'base.html' %}
{% block title %}Search{% endblock %}

{% block content %}
<p><a href="{% url 'dashboard' %}" style="text-decoration: none;">&larr; Back to Dashboard</a></p>
{% if search %}
<h3>search results are : </h3>
{% for src in search %}
<div class="result">
     <h2>{{src.title}}</h2>
     <p>{{src.note}}</p>
     <a href="{{src.link}}" target="_blank">refrence</a>
     <h5>{{src.date}}</h5>
</div>
{% endfor %}
{% else %}
<h3>no search results found</h3>
{% endif %}
{% endblock %}